<section class="border-white/20 border-b">
  <div class="bg-transparent duration-200 group hover:bg-orange">
    <a
      href="mailto:woo@sqfmi.com"
      class="text-white text-center items-center uppercase font-black w-1/2 bg-orange duration-200 focus:outline-disc focus:ring-0 hoder:rounded-0 inline-flex justify-center lg:py-12 lg:text-4xl px-4 py-3 rounded-full text-2xl"
      >Contact Us</a
    >
  </div>
</section>
