---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
import Intro from "@/components/landing/Intro.astro";
// Assets
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b">
  <div class="bg-grid p-8 relative">
    <BgGrid />

    <h1
      class="text-white tracking-tighter font-black uppercase text-3xl lg:text-8xl relative"
    >
      DESIGN.<br />
      ENGINEERING.<br />
      ART.<br />      
      TECHNOLOGY.<br />      
    </h1>
  </div>
  <Banner />
  <Intro />
</section>
