---
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="p-8 relative">
    <BgGrid />
    <h2 class="text-3xl font-black text-white uppercase">
      H E L L O
    </h2>
  </div>
  <div class="p-8">
    <p class="mt-3 text-eagle text-sm italic"><b>Squarofumi</b> [ square-oh-foo-mee ] - abbreviated <b>SQFMI</b></p>
    <p class="mt-3 text-eagle text-sm">
      We are a global studio of designers and creators coming, experienced in bringing transformative ideas to life through art and technology.
    </p>
  </div>
</section>
