---
import BgGrid from "@/components/assets/BgGrid.astro";
import { Image } from "astro:assets";
import OracleLogo from "@/images/logos/Oracle_logo.png";
import LeonardoLogo from "@/images/logos/Leonardo_logo.png";
import MicrosoftLogo from "@/images/logos/Microsoft_logo.png";
import MouserLogo from "@/images/logos/Mouser_logo.png";

const partners = [
  { name: "Microsoft", image: MicrosoftLogo },
  { name: "Mouser", image: MouserLogo },
  { name: "Oracle", image: OracleLogo },
  { name: "Leonardo", image: LeonardoLogo },  
];
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="px-8 py-6 relative">
    <BgGrid />
    <h2 class="text-3xl font-black text-white uppercase">
      partners & clients
    </h2>
  </div>
  <div class="text-white gap-3 grid grid-cols-1 md:grid-cols-4">
    {
      partners.map((partner) => (
        <div class="p-8 flex items-center justify-center">
          {"image" in partner ? (
            <Image src={partner.image} alt={partner.name} class="h-8 w-auto" />
          ) : (
            <Fragment set:html={partner.svg} />
          )}
        </div>
      ))
    }
  </div>
</section>
