---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] mt-20 relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description=""
    />
    <Form />
  </div>
</Section>
