---
import Accordion from "../ui/Accordion2.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Step-by-Step Guide to Achieving Your Business Goals";
---

<Section id="services">
  <div class="mt-[80px]">
    <SectionTitle
      sectionTitle="Collaborations"
    />
    <div class="grid gap-10 lg:grid-cols-3 ">
    <Accordion />
</div>
  </div>
</Section>
