---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/duck.svg";
---

<Section id="about">
  <Card>
    <div
      class="flex bg-dark text-white bc0g pixpix0d p-[60px] relative mt-[80px] mb-[0px]"
    >
      <div class="w-full ">
        <h2 class="font-light sqfmifg uppercase mb-3">Squarofumi [SQFMI]</h2>
        <p>
          Suspendisse vitae rhoncus sapien. Etiam neque dui, malesuada vel turpis id, scelerisque hendrerit metus. Morbi finibus tincidunt auctor. Nunc viverra risus id dolor ultrices fringilla. Nam ut nisi urna. Proin feugiat m
        </p>
        
      </div>

    </div>
  </Card>
</Section>
